body {
    background-color: #F48484;
}

.heading {
    font-size: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-shadow: black;
}

.list-item {
    display: flex;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #FCFFE7;
    width: 50%;
    text-align: center;
}

.unordered-list {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: column;
}